<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />

    <target name="file" xsi:type="File"
        fileName="${basedir}/App_Data/Nlog_Logging.txt"
        layout="${date:format=\[yyyyMMdd HH\:mm\:ss\]} ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"
        archiveFileName="${basedir}/App_Data/logs/log.{#}.txt"
        archiveEvery="Day"
        archiveDateFormat="yyyyMMdd"
        archiveNumbering="Date"            
        maxArchiveFiles="100"
        concurrentWrites="true"
        createDirs="true" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>
