<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- Connection string with explicit assembly name for test compatibility -->
    <!--<add name="EntityContext" connectionString="metadata=res://MTAoarsGeneral.DomainModels, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null/Entities.csdl|res://MTAoarsGeneral.DomainModels, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null/Entities.ssdl|res://MTAoarsGeneral.DomainModels, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null/Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MTAOARS;multipleactiveresultsets=True;Integrated Security=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="EntityContext" connectionString="metadata=res://*/Entities.csdl|res://*/Entities.ssdl|res://*/Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MTAOARS;multipleactiveresultsets=True;Integrated Security=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>

